.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 20vh;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTask input {
   height: 22px;
   width: 50%;
  outline: none;
  border-radius: 5px;
  box-shadow: none;


}
button {
  height: 24px; 
  /* width: 5%; */
  background-color: rgb(13, 14, 14);
  color: #fff;
}
.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.task button  {
  width: auto;
  height: 20px;
  margin-left: 5px;
  text-align: center;
  color: rgb(241, 234, 234);
  background-color: green;
  border: none;
  border-radius: 5px;
}

.task button + button {
  background-color: red;
}
